{% extends 'base.html' %} {% block title %}Mis Proyectos - Portafolio{% endblock%} {% block content %}
<div class="container contenido">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card border-danger">
        <div class="card-header text-center py-4">
          <h4 class="card-title mb-0 text-danger">Mis Proyectos en GitHub</h4>
        </div>
        <div class="card-body text-white">
          <p>
            Aquí puedes explorar una selección de mis proyectos de desarrollo,
            alojados en mi repositorio de GitHub. Cada proyecto refleja mi
            experiencia y habilidades en diversas tecnologías.
          </p>

          <div class="text-center my-4">
            <a
              href="https://github.com/JorgeCardenasY?tab=repositories"
              target="_blank"
              class="btn btn-danger btn-lg"
            >
              <i class="bi bi-github me-2"></i>Ver todos mis repositorios en
              GitHub
            </a>
          </div>

          <hr class="border-danger my-4" />

          <h3 class="stronghold text-danger mb-4">Proyectos Destacados</h5>
          <p>
            A continuación, se listan algunos proyectos destacados. Para una
            lista completa y el código fuente, por favor visita mi perfil de
            GitHub.
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-white border-danger mt-1">
              <h4 class="stronghold text-danger">
                Proyecto 1: Script para la Obtención de Datos abiertos de
                MercadoPúblico
              </h4>
              <p>
                Este proyecto es un desarrollo en Python que accede a los datos
                abiertos de MercadoPúblico y descarga datos en formato ZIP
                correspondientes a Licitaciones y Órdenes de Compra en un rango
                de años y meses seleccionados. Cada descarga es descromprimida a
                CSV según su tipo (Licitaciones, Compras Ágiles y Órdenes de
                Compra). Alternativamente, se puede cargar estos datos a una
                base de datos PostgreSQL.<br />
                En un proceso ETL correspondería a la fase de extracción de
                datos para su ingesta, transformación y análisis.
              </p>
              <a
                href="https://github.com/JorgeCardenasY/datos_Mercado_Publico"
                target="_blank"
                class="btn btn-sm btn-outline-danger"
                >Ver en GitHub</a
              >
              <a
                href="https://github.com/JorgeCardenasY/datos_Mercado_Publico/blob/main/README.md"
                target="_blank"
                class="btn btn-sm btn-danger ms-2"
                >Más Detalles</a
              >
            </li> <br>

            <li class="list-group-item bg-dark text-white border-danger mt-1">
                 <h4 class="stronghold text-danger">
                Proyecto 2: Web HTML para la promoción de Hoteles de Cliente de Arica
              </h4>
              <p>
                Este proyecto es un desarrollo en HTMl, el cual Landing page que permite redirigirse a Hotel Amaru y/o Hotel Spa Las Taguas a través de códigos QR.<br />
                Inicialmente está desarrollado para ser visualizado en Tablets en contextos de ferias turísticas y equivalentes.
              </p>
              <a
                href="https://jorgecardenasy.github.io/DyM/"
                target="_blank"
                class="btn btn-sm btn-outline-danger"
                >Ver en GitHub</a
              >
              <a
                href="https://github.com/JorgeCardenasY/DyM/blob/main/README.md"
                target="_blank"
                class="btn btn-sm btn-danger ms-2"
                >Más Detalles</a
              >
            </li>  <br>

            <li class="list-group-item bg-dark text-white border-danger mt-1">
                 <h4 class="stronghold text-danger"> Proyecto 3: Aplicación Web con Django e integración PostgreSQL.</h4>
              <p>
                Este portafolio es una aplicación web construida con Django, que permite a los usuarios registrarse, autenticarse y exhibir sus proyectos. El backend, en Python, utiliza SQLite para desarrollo y la librería Pillow para gestionar imágenes. El frontend emplea las plantillas de Django, se estiliza con Tailwind CSS para una interfaz responsiva y usa JavaScript vanilla para la interactividad.

La seguridad es prioritaria, aprovechando las protecciones nativas de Django: middleware contra CSRF y clickjacking, un sistema robusto de autenticación que hashea contraseñas, validadores para garantizar contraseñas robustas y cabeceras de seguridad HTTP. La clave secreta se gestiona como variable de entorno en producción.
              </p>
              <a
                href="https://github.com/JorgeCardenasY/M6_PORTFOLIO"
                target="_blank"
                class="btn btn-sm btn-outline-danger"
                >Ver en GitHub</a
              >
              <a
                href="https://github.com/JorgeCardenasY/M6_PORTFOLIO/blob/main/README.md"
                target="_blank"
                class="btn btn-sm btn-danger ms-2"
                >Más Detalles</a
              >

            </li>
          </ul>

          <p class="mt-4">
            Si tienes alguna pregunta sobre mis proyectos o te gustaría
            colaborar, no dudes en
            <a href="{% url 'contact' %}" class="text-danger">contactarme</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
